@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General css */
*{
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
}
body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
li, ul {
    list-style-type: none;
}
a:hover {
    text-shadow: grey;
    font-size: larger;
    transition: 0.8s;
}
i:hover {
    transform: scale(1.3);
    transition: 0.6s;
    transform-origin: left;
}


/* Main and header part */
main {
    background-image: url("./Images/homapage-banner-img.jpg");
    width: auto;
    height: 105rem;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin-left: 25rem;
    margin-top: 4.1rem;
}
.navbar {
    display: flex;
    margin-right: 20rem;
}
.navlist {
    display: flex;
    align-items: center;
}
.navlink  {
    font-size: 1.8rem;
    font-weight: 600;
    padding-right: 6rem;
    color: white;
}
.navitem {
    margin-top: 4rem;
}
.fab {
    font-size: 3rem;
    padding-right: 3rem;
    opacity: 50%;
    color: rgb(214, 214, 214);
}
.title {
    display: flex;
    justify-content: center;
    align-items: left;
    color: white;
    flex-direction: column;
    height: 160rem;
    margin-left: 35rem;
}
.title > p {
    font-size: 4rem;   
}
h1 {
    font-size: 10rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
audio {
    width: 80%;
}
.nextgig {
    background-color: rgb(54, 54, 54);
    display: grid;
    height: 25rem;
    width: 80%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    color: white;
    border-radius: 1rem;
    grid-template-areas: 
    "nextgig counter button";
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.nextgig h3 {
    display: grid;
    grid-area: nextgig;
    font-size: 3.5rem;
    text-align: center;
}
.nextgig > h3 > p {
    font-size: 1.8rem;
    font-weight: 400;
}
.counter {
    display: grid;
    justify-content: center;
    align-items: center;
    transform: scale(2.5);
    grid-area: counter;
}
.btnbuy {
    background-color: #8121E0;
    display: grid;
    grid-area: button;
    border-radius: 5px;
    padding: 2rem;
    margin-left: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
}



