        /* SPONSORS */

.sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 470px;
    width: 100%;
    background-image: url(../ressources/homepage-sponsors-background.jpg);
    background-size: cover;
    background-position: right -650px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.sponsors h2{
    color: #ffffff;
    font-size: 30px;
}

.sponsors-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0;
}

.sponsors-list li{
    list-style: none;
    height: 100px;
    width: auto;
    margin-left: 5rem;
}

.sponsors-list li a{
    width: auto;
    text-decoration: none;
}

.sponsors-list li a img{
    height: 69%;
    width: auto;
    filter: grayscale(100%);
}

.sponsors-list li a img:hover{
    height: 110%;
    width: auto;
    filter: grayscale(0%);

}